pip install flask-wtf  WTForms-2.2.1 flask-wtf-0.14.2
pip install flask-moment  flask-moment-0.6.0
pip install flask-bootstrap flask-bootstrap-3.3.7.1 visitor-0.1.3
pip install crypto
pip install flask-sqlalchemy
pip install flask-valid
